<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info page</title>
</head>
<body>
<h1>User information:</h1>
<p th:text="'Id: ' + ${user.getId()}">ID</p>
<p th:text="'Username: ' + ${user.getUsername()}">USERNAME</p>
<p th:text="'LastName : ' + ${user.getLastName()}">LAST NAME</p>
<p th:text="'FistName : ' + ${user.getFirstName()}">FIRST NAME</p>
<h3>Role</h3>
<ul>
    <th:block th:each ="Role :   ${user.getRoles()}">
        <li th:utext="${Role.getRole()}">..</li>
    </th:block>
</ul>
<br>
<a th:href="@{/logout}"><button type="button">Logout</button></a>
<a th:href="@{/admin}"><button type="button">Admin panel</button></a>
</body>
</html>